################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
packages
opencv_world470.dll
opencv_world470d.dll
/demo/WinFormsApp/bin/Debug
/demo/WinFormsApp/bin/Release
/demo/WinFormsApp/bin
/demo/WinFormsApp/obj/Debug
/demo/WinFormsApp/obj/Release
/demo/WinFormsApp/obj
/demo/CPP/log
/demo/CPP/x64
/PaddleOCROnnxApi/bin/Debug
/PaddleOCROnnxApi/bin/Release
/PaddleOCROnnxApi/bin
/PaddleOCROnnxApi/obj/Debug
/PaddleOCROnnxApi/obj/Release
/PaddleOCROnnxApi/obj
/PaddleOCROnnxSDK/bin/Debug
/PaddleOCROnnxSDK/bin/Release
/PaddleOCROnnxSDK/bin
/PaddleOCROnnxSDK/obj/Debug
/PaddleOCROnnxSDK/obj/Release
/PaddleOCROnnxSDK/obj
/x64